* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --transition-config: all 0.4s ease;
  --LogoText-font-color: black;
 --HeaderLinks-border-bottom-color-light-mode: rgba(0, 0, 0, 0.7);
}

.app {
  padding: 8vh 8vw 0 8vw;
  background-color: rgba(194, 223, 255, 0.4);
}

.app__body {
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px 1rem;
  position: relative;
}

@media (max-width: 1000px) {
  .app{
    transition: padding 0.4s ease;
    padding: 6vh 2vw 0 2vw;
    overflow-x: hidden;
  
  }
}
